---
layout: page
permalink: /clenstvi/ 
---

<div class="row">
  <div class="columns medium-3">
      <h2>Co obnáší členství?</h2>

      <ul>
        <li>Schválení zastupitelstvem</li>
        <li>1.5 Kč na obyvatele ročně</li>
      </ul>
  </div>
  <div class="columns medium-9">
    <p>Členem organizace Otevřená města se může stát každá obec nebo město v České republice (s právem hlasovacím) anebo jiná veřejně prospěšná instituce (viz stanovy níže). Pokud ještě váháte, připravili jsme pro vás seznam 7 důvodů, proč se stát členem. Jste-li již rozhodnuti, pak:</p>
    <ul>
      <li>stáhněte a pročtěte si balíček (obsahuje návrh usnesení pro Zastupitelstvo a Radu Vašeho města a důvodovou zprávu, které si upravte dle potřeb). V případě nejasností neváhejte kontaktovat výbor (viz stránka s kontakty),</li>
      <li>projednejte záměr začlenit se mezi Otevřená města obvyklým způsobem (v příslušné komisi, Radě a Zastupitelstvu),</li>
      <li>zašlete schválené usnesení deklarující zájem o členství na výbor</li>
    </ul>
  </div>
</div>

<h1>Členové</h1>

<table>
    <thead>
      <tr>
        <th>obec</th>
        <th style="text-align: right">občanů <sup id="a1"><a href="#f1">1</a></sup></th>
        <th style="text-align: right">cizinců  <sup id="a1"><a href="#f1">1</a></sup></th>
        <th style="text-align: right">obyvatel</th>
        <th style="text-align: right">přepočet <sup id="a2"><a href="#f2">2</a></sup></th>
        <th style="text-align: right">úhrada <sup id="a3"><a href="#f3">3</a></sup></th>
        <th>zastupuje</th>
        <th style="text-align: right">hlasů <sup id="a4"><a href="#f4">4</a></sup></th>
        <th>členství</th>
      </tr>
    </thead>
    <tbody>
      {% for record in site.data.clenstvi %}
        <tr>
          {% for cell in record %}
          <td>{{cell[1]}}</td>{% comment %}{% endcomment%}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <p><sup>
  <span id="f1">1</span> Údaje o počtu obyvatel jsou převzaty z informativních počtů občanů ČR a cizinců k 1. 1. 2018 <a href="http://www.mvcr.cz/clanek/statistiky-pocty-obyvatel-v-obcich.aspx">zveřejněných na stránkách</a> Ministrstva vnitra České republiky <a href="#a1">↩</a> <br />
  <span id="f2">2</span> Dle odstavce (7.3) stanov se v případě překrývajícího uzemí dvou členů dělí počet obyvatel rovnou měrou. <a href="#a2">↩</a> <br />
  <span id="f3">3</span> Členský příspěvek činí 1,50 Kč na osobu z přepočtu obyvatel. U obcí přistoupivších v aktuálním roce je příspěvek snížený dle odstavce (5.6) na poměrnou část podle počtu celých kalendářních měsíců zbývajících do konce roku ode dne podání přihlášky <a href="#a3">↩</a><br />
  <span id="f4">4</span> Dle odstavce (7.2) druhá odmocnina z přepočtu obyvatel. <a href="#a4">↩</a><br />
  </sup></p>
  
  <h2 id="přidružené-členství">přidružené členství</h2>
  
  <table>
    <thead>
      <tr>
        <th>subjekt</th>
        <th>zastupuje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>EconLab</td>
        <td>Jiří Skuhrovec</td>
      </tr>
      <tr>
        <td>Frank Bold z.s.p.o.</td>
        <td>Jiří Nezhyba</td>
      </tr>
      <tr>
        <td>Nadace Charty77</td>
        <td>Petr Hazuza</td>
      </tr>
      <tr>
        <td>OpenAlt z.s.</td>
        <td>Ladislav Nešněra</td>
      </tr>
      <tr>
        <td>Oživení o.s.</td>
        <td>Martin Kameník</td>
      </tr>
    </tbody>
  </table>