---
layout: page
permalink: /projekty/ 
---

<div class="row">
<h2>Sofware</h2>
</div>

<div class="row">
{% for projekt in site.data.projekty.software %}
  <div class="card" style="width: 300px;">
    <div class="card-divider">
      <h4>{{projekt.title}}</h4>
    </div>
    <img src="{{ projekt.img | prepend: '/assets/img/' | relative_url }}" style="width: 280px; height: 200px">
    <div class="card-section">
      <p>{{projekt.subtitle}}</p>
    </div>
  </div>
{% endfor %} 
</div>

<div class="row">
  <h2>Odborné semináře a sdílení know-how</h2>
</div>

<div class="row">
{% for projekt in site.data.projekty.knowhow %}
  <div class="card" style="width: 300px;">
    <div class="card-divider">
      <h4>{{projekt.title}}</h4>
    </div>
    <img src="{{ projekt.img | prepend: '/assets/img/' | relative_url }}" style="width: 280px; height: 200px">
    <div class="card-section">
      <p>{{projekt.subtitle}}</p>
    </div>
  </div>
{% endfor %} 
</div>

<div class="row">
  <h2>Slevy</h2>
</div>
  
<div class="row">
{% for projekt in site.data.projekty.slevy%}
  <div class="card" style="width: 300px;">
    <div class="card-divider">
      <h4>{{projekt.title}}</h4>
    </div>
    {% if projekt.img %}
    <img src="{{ projekt.img | prepend: '/assets/img/' | relative_url }}" style="width: 280px; height: 200px">
    {% endif %}
    <div class="card-section">
      <p>{{projekt.subtitle}}</p>
    </div>
  </div>
{% endfor %} 
</div>

