<aside class="rbox">
    <h2>Kdo jsme?</h2>
    <p>Spolek 15 obcí, které chtějí být otevřené vůči svým občanům. Chceme na řešeních spolupracovat a ušetřit tím prostředky naší obce. Připojte se k nám!</p>
    <h2><a href="{{ site.baseurl }}/clenstvi">Naši členi</a></h2>
    {% assign obce = site.data.clenstvi %}
    <ul>
      {% for obec in obce limit: 4 %}
      <li>{{obec.obec}}: {{obec.obyvatel}} obyvatel</li>
      {% endfor %}
      <li>...</li>
    </ul>
    Celkem {{ site.data.clenstvi | size }} obcí.
</aside>
