<div class="sitebanner show-for-medium">
	<div class="row">
		<div class="columns medium-6">
						{% assign stories = site.data.user-stories %}
						{% assign story = stories[0] %}
						{% assign projekt = site.data.projekty.software[0] %}
						<div class="columns medium-12">
							<h3>{{story.title}}</h3> <blockquote>{{story.short}}</blockquote> -- {{story.who}}
						</div>
		</div>
		<div class="columns medium-6">
			<div class="row">
				{% assign projekt = site.data.projekty.software[0] %}
				<div class="columns medium-4">
						<img class="thumbnail blog-posting__media" src="{{ projekt.img | prepend: 'assets/img/' | baseurl }}" alt="">
				</div>
				<div class="columns medium-6">
					<h3>{{projekt.title}}</h3> <p>{{projekt.short}}</p>
					{% comment %}
					IoT: Přemýšleli jste o smart cities? Pomůžeme vám vybudovat nízkoenergetickou síť pro přenos dat na větší vzdálenosti.
					Semináře: Trápilo vás GDPR? Naši členi měli školení, kde jsme vše prošli.
					Slevy: Jako členové spolku obdržíte slevy od našich partnerů: tenderman 30%.
					{% endcomment %}
				</div>
			</div>
		</div>
	</div>
</div>
